{% extends "base_bootstrap.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h1> Confirm sending "{{ object.subject }}"</h1>

  <h2> 
    To: 
  </h2>
  <p>
    <ul>
    {% for guest in object.audience.guest.all %} 
      {% if guest.email_address %}
        <li> 
          {{ guest.title }} {{ guest.first_name }} {{ guest.surname }} 
          ({{ guest.email_address }}): {{ guest.rsvp_status }}
        </li>
      {% endif %}
    {% endfor %}    
    </ul>
  </p>

  <h2>
    Message:
  </h2>
  <p>
    {{ object.text|linebreaksbr }}
  </p>

      
    <form action="" method="post" id="email_confirm" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="submit" value="Send email">
      <input type="submit" value="Cancel"
        onclick="window.location.href='{% url "email_create" %}'; return false;">
    </form>
  </p>


  {% if uncontactable_guests %}
    <h2>
      Guests to contact separately
    </h2>
    <p>
      <ul>
        {% for guest in object.audience.guest.all %} 
          {% if not guest.email_address %}
            <li> 
              {{ guest.title }} {{ guest.first_name }} {{ guest.surname }}
            </li>
          {% endif %}
        {% endfor %}    
      </ul>
    </p>
  {% endif %}


{% endblock %}
