{% extends "base_bootstrap.html" %}

{% block content %}
  <h1> Guests </h1>

  <br>
  <button onclick="window.location.href='{% url "guest_create" %}';" type="button" class="btn btn-primary">
    New guest
  </button>
  <button onclick="window.location.href='{% url "guest_export_csv" %}';" type="button" class="btn btn-primary">
    Export guestlist (CSV file)
  </button>
  <button onclick="window.location.href='{% url "guest_export_qr" %}';" type="button" class="btn btn-primary">
    Export QR codes (zip file)
  </button>
  <button onclick="window.location.href='{% url "guest_upload" %}';" type="button" class="btn btn-primary">
    Upload guestlist
  </button>

  {% if object_list %}
    <br><br>
    {% load render_table from django_tables2 %}
    <div class=table-respoonsive">
      {% render_table table %}
    </div>
  {% else %}
    <p>There are no guests in the database.</p>
  {% endif %}
{% endblock %}



