{% extends "base_bootstrap.html" %}
{% load crispy_forms_tags %}
{% load qr_code %}
{% block content %}

  <h1> Editing {{ guest.title }} {{ guest.first_name }} {{ guest.surname }} </h1> 

  <p>
    <form action="" method="post" id="guest_form" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
    </form>
  </p>
   
  <p>
    <input type="submit" value="Submit">
    <input type="submit" value="Cancel" 
       onclick="window.location.href='{% url 'guest_list' %}';return false;">
  </p>

    <table>
      <tr>
        <td>
          RSVP link:
        </td>
        <td>
          <a href={% url 'rsvp' guest.rsvp_link %}>{{ guest.rsvp_link }}</a>
        </td>
      </tr>
      <tr>
        <td>
          RSVP QR:
        </td>
        <td>
          {% qr_from_text qr_url size="t" image_format="png" %}
        </td>
      </tr>
    </table>

  <p>
   <a href={% url 'guest_delete' guest.id %}>Delete guest</a>
  </p>

{% endblock %}

